.WeatherByHour {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    &__title {
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: 20px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
}
