@import 'styles/main.scss';

.CurrentStats {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
    justify-content: space-between;

    &__item {
        display: flex;
        flex: 1 1 calc(100% / 3);
        justify-content: center;
        align-items: center;
    }

    &__skeleton {
        width: 100%;
    }

    @media ($media-phone) {
        margin-bottom: 20px;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #fff;
            opacity: 50%;
        }

        &__item {
            margin-bottom: 20px;
        }
    }
}
