$media-phone-small: 'max-width: 387.98px';
$media-phone-medium: 'max-width: 479.98px';
$media-phone: 'max-width: 767.98px';
$media-tablet: 'max-width: 855px';
$media-laptop: 'max-width: 1279px';
$media-laptop-large: 'max-width: 1324px';
$media-large-screen: 'min-width: 1872px';
